#headerContainer{
    background-color: rgb(161, 233, 233);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header{
    font-size: 30px;
}